<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.getrag.dao.RoleMapper" >
  <sql id="Base_Column_List" >
    id, role_name, content_l
  </sql>
  <select id="selectByPrimaryKey" resultType="com.getrag.bean.Role" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role_l
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role_l
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <select id="getAll" resultType="com.getrag.bean.Role">
  	select * from role_l
  </select>
  
  <insert id="insert" parameterType="com.getrag.bean.Role" >
    insert into role_l (id, role_name, content_l
      )
    values (#{id,jdbcType=VARCHAR}, #{role_name,jdbcType=VARCHAR}, #{content_l,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.getrag.bean.Role" >
    insert into role_l
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="role_name != null" >
        role_name,
      </if>
      <if test="content_l != null" >
        content_l,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="role_name != null" >
        #{role_name,jdbcType=VARCHAR},
      </if>
      <if test="content_l != null" >
        #{content_l,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.getrag.bean.Role" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Feb 22 15:14:01 CST 2017.
    -->
    update role_l
    <set >
      <if test="role_name != null" >
        role_name = #{role_name,jdbcType=VARCHAR},
      </if>
      <if test="content_l != null" >
        content_l = #{content_l,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.getrag.bean.Role" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Feb 22 15:14:01 CST 2017.
    -->
    update role_l
    set role_name = #{role_name,jdbcType=VARCHAR},
      content_l = #{content_l,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>